In [3]:
from matplotlib import pyplot as plt
import matplotlib.pyplot as mp
import seaborn as sb
import pandas as pd
import numpy as np
import requests
import math

In [2]:
header = {'X-TBA-Auth-Key': 'idowTJ6ZvpMVVh3IKFVMZPsuk65Tuors4lM7ueszL3QkIPznPONkyhdA3esVY1Tf',
          'accept': 'application/json'}
response = requests.get("https://www.thebluealliance.com/api/v3/team/frc6017/event/2023catt/status", headers=header)

In [3]:
response.json()

{'alliance': {'backup': None, 'name': 'Alliance 4', 'number': 4, 'pick': 3},
 'alliance_status_str': '<b>3rd Pick</b> of <b>Alliance 4</b>',
 'last_match_key': '2023catt_f1m3',
 'next_match_key': None,
 'overall_status_str': 'Team 6017 was <b>Rank 26/43</b> with a record of <b>5-4-0</b> in quals, competed in the playoffs as the <b>3rd Pick</b> of <b>Alliance 4</b>, and <b>won the event</b> with a playoff record of <b>5-1-0</b>.',
 'playoff': {'current_level_record': {'losses': 1, 'ties': 0, 'wins': 2},
  'level': 'f',
  'playoff_average': None,
  'record': {'losses': 1, 'ties': 0, 'wins': 5},
  'status': 'won'},
 'playoff_status_str': '<b>Won the event</b> with a playoff record of <b>5-1-0</b>',
 'qual': {'num_teams': 43,
  'ranking': {'dq': 0,
   'matches_played': 9,
   'qual_average': None,
   'rank': 26,
   'record': {'losses': 4, 'ties': 0, 'wins': 5},
   'sort_orders': [1.6666666, 87.77778, 20.444445, 20.222221],
   'team_key': 'frc6017'},
  'sort_order_info': [{'name': 'Ranking Score', 'precision': 2},
   {'name': 'Avg Match', 'precision': 2},
   {'name': 'Avg Charge Station', 'precision': 2},
   {'name': 'Avg Auto', 'precision': 2}],
  'status': 'completed'}}

In [4]:
team_status_respons = pd.DataFrame.from_dict(response.json())
team_status_respons.reset_index(drop=False, inplace=True)

In [5]:
team_status_respons

,index,alliance,alliance_status_str,last_match_key,next_match_key,overall_status_str,playoff,playoff_status_str,qual
0,backup,None,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,NaN
1,name,Alliance 4,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,NaN
2,number,4,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,NaN
3,pick,3,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,NaN
4,current_level_record,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,"{'losses': 1, 'ties': 0, 'wins': 2}",<b>Won the event</b> with a playoff record of ...,NaN
5,level,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,f,<b>Won the event</b> with a playoff record of ...,NaN
6,playoff_average,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,None,<b>Won the event</b> with a playoff record of ...,NaN
7,record,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,"{'losses': 1, 'ties': 0, 'wins': 5}",<b>Won the event</b> with a playoff record of ...,NaN
8,status,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,won,<b>Won the event</b> with a playoff record of ...,completed
9,num_teams,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,43
10,ranking,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,"{'dq': 0, 'matches_played': 9, 'qual_average':..."
11,sort_order_info,NaN,<b>3rd Pick</b> of <b>Alliance 4</b>,2023catt_f1m3,None,Team 6017 was <b>Rank 26/43</b> with a record ...,NaN,<b>Won the event</b> with a playoff record of ...,"[{'name': 'Ranking Score', 'precision': 2}, {'..."

---
---
# First API

---

In [1]:
header = {
    "Authorization": "Basic aXZhbnkyMDA6ZjgzNTYwMjctMWE2Yy00YWU5LTliNjEtMTJkMDJjNjI1Y2Rj",
    'If-Modified-Since': ''
}

In [5]:
test_idk = requests.get("https://frc-api.firstinspires.org/v3.0/2022/matches/MXMO", headers=header)
final_df = pd.DataFrame.from_dict(test_idk.json())
final_df = final_df["Matches"].apply(pd.Series)
final_df[final_df["tournamentLevel"] == "None"]

,isReplay,matchVideoLink,description,matchNumber,scoreRedFinal,scoreRedFoul,scoreRedAuto,scoreBlueFinal,scoreBlueFoul,scoreBlueAuto,autoStartTime,actualStartTime,tournamentLevel,postResultTime,teams
81,False,None,Test Match,999,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-10T18:16:48.4,None,None,None,"[{'teamNumber': 3510, 'station': 'Red1', 'dq':..."

In [19]:
test_idk = requests.get("https://frc-api.firstinspires.org/v3.0/2023/matches/MXMO/Qualification", headers=header)
final_df = pd.DataFrame.from_dict(test_idk.json())
final_df = final_df["Matches"].apply(pd.Series)
teams_stuff = final_df["teams"].apply(pd.Series)
final_df.drop("teams", axis=1, inplace=True)
team_list = []
for i in range(6):
    temp_team = teams_stuff[i].apply(pd.Series)
    temp_team.rename(columns={"teamNumber":i}, inplace=True)
    temp_team = temp_team[i]
    team_list.append(temp_team)
    df_team_info = pd.concat(team_list, axis=1)
final_df = pd.concat([final_df,df_team_info], axis=1)
final_df.rename(columns={0:"Red1",1:"Red2",2:"Red3",3:"Blue1",4:"Blue2",5:"Blue3"}, inplace=True)
final_df.drop(["isReplay", "matchVideoLink", "description", "autoStartTime", "actualStartTime", "tournamentLevel", "postResultTime"], axis=1, inplace=True)
final_df

,matchNumber,scoreRedFinal,scoreRedFoul,scoreRedAuto,scoreBlueFinal,scoreBlueFoul,scoreBlueAuto,Red1,Red2,Red3,Blue1,Blue2,Blue3
0,1,45,0,6,58,0,6,6647,4782,6170,7421,3933,7546
1,2,71,5,3,50,10,12,6676,3794,3478,3472,6608,4584
2,3,47,0,14,56,0,17,4010,5932,6832,6017,6106,9280
3,4,17,0,3,7,5,0,8740,6694,8741,9060,3526,7725
4,5,102,0,27,57,12,19,9282,4635,2283,6348,6702,5959
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,63,91,32,18,36,0,10,5887,7725,6017,2283,8293,3794
63,64,75,0,25,71,5,13,4635,9060,9280,8256,6170,7421
64,65,84,0,27,41,0,10,9213,6647,7102,8741,6106,6702
65,66,73,5,9,44,12,18,3472,3158,5959,3526,6832,4584
66,67,34,0,15,46,0,24,5133,3933,6017,6608,6694,4775

In [25]:
test_idk = requests.get(f"https://frc-api.firstinspires.org/v3.0/2023/scores/MXMO/Qualification?matchNumber=2", headers=header)
final_df = pd.DataFrame.from_dict(test_idk.json())
final_df = final_df["MatchScores"].apply(pd.Series)
final_df = final_df["alliances"].apply(pd.Series)
blue_al = final_df[0].apply(pd.Series)
red_al = final_df[1].apply(pd.Series)
match_stuff = pd.concat([blue_al, red_al], axis=0)
match_stuff.reset_index(drop=True,inplace=True)
match_stuff

,alliance,mobilityRobot1,autoChargeStationRobot1,endGameChargeStationRobot1,mobilityRobot2,autoChargeStationRobot2,endGameChargeStationRobot2,mobilityRobot3,autoChargeStationRobot3,endGameChargeStationRobot3,...,coopGamePieceCount,totalChargeStationPoints,foulCount,techFoulCount,g405Penalty,h111Penalty,adjustPoints,foulPoints,rp,totalPoints
0,Blue,Yes,None,Docked,No,None,None,No,None,None,...,1,6,1,0,False,False,0,10,0,50
1,Red,No,None,Docked,Yes,None,Docked,No,None,Docked,...,1,30,2,0,False,False,0,5,3,71

In [22]:
match_stuff.columns

Index(['alliance', 'mobilityRobot1', 'autoChargeStationRobot1',
       'endGameChargeStationRobot1', 'mobilityRobot2',
       'autoChargeStationRobot2', 'endGameChargeStationRobot2',
       'mobilityRobot3', 'autoChargeStationRobot3',
       'endGameChargeStationRobot3', 'autoCommunity', 'autoGamePieceCount',
       'autoMobilityPoints', 'autoPoints', 'autoDocked', 'autoBridgeState',
       'autoGamePiecePoints', 'autoChargeStationPoints', 'teleopCommunity',
       'teleopGamePieceCount', 'teleopPoints', 'teleopGamePiecePoints',
       'extraGamePieceCount', 'endGameChargeStationPoints',
       'endGameParkPoints', 'endGameBridgeState', 'links', 'linkPoints',
       'activationBonusAchieved', 'sustainabilityBonusAchieved',
       'coopertitionCriteriaMet', 'coopGamePieceCount',
       'totalChargeStationPoints', 'foulCount', 'techFoulCount', 'g405Penalty',
       'h111Penalty', 'adjustPoints', 'foulPoints', 'rp', 'totalPoints'],
      dtype='object')

In [35]:
blue_al.columns

Index(['match_num', 'alliance', 'mobilityRobot1', 'autoChargeStationRobot1',
       'endGameChargeStationRobot1', 'mobilityRobot2',
       'autoChargeStationRobot2', 'endGameChargeStationRobot2',
       'mobilityRobot3', 'autoChargeStationRobot3',
       'endGameChargeStationRobot3', 'autoCommunity', 'autoGamePieceCount',
       'autoMobilityPoints', 'autoPoints', 'autoDocked', 'autoBridgeState',
       'autoGamePiecePoints', 'autoChargeStationPoints', 'teleopCommunity',
       'teleopGamePieceCount', 'teleopPoints', 'teleopGamePiecePoints',
       'extraGamePieceCount', 'endGameChargeStationPoints',
       'endGameParkPoints', 'endGameBridgeState', 'links', 'linkPoints',
       'activationBonusAchieved', 'sustainabilityBonusAchieved',
       'coopertitionCriteriaMet', 'coopGamePieceCount',
       'totalChargeStationPoints', 'foulCount', 'techFoulCount', 'g405Penalty',
       'h111Penalty', 'adjustPoints', 'foulPoints', 'rp', 'totalPoints'],
      dtype='object')